
.container{
    font-family: Verdana;
    font-size: 1.5rem;
    color: #121111;
    align-items: center;
    text-align: center;
    font-weight: 500;
    padding: 260px;
}
.explore{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(206, 255, 255);
    background: #ee6c4d;
    padding: 8px;
    margin: 40px;
    text-align: center;
    border-color: #ee6c4d;
    box-shadow: 0 0 11px #ee6c4d;
    border: none;
}