
::-webkit-scrollbar {
  display: none;
}


.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ccc;
.zeta
{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: white;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  padding: 8px;
  margin: 40px;
  text-align: center;
  border-color: #685894;
  box-shadow: 0 0 11px #685894;
  border-radius: 25px;
  }

  .zetaDownload{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  padding: 8px;
  margin: 40px;
  text-align: center;
  border-color: #685894;
  box-shadow: 0 0 11px #685894;
  border-radius: 25px;
  }

  .zetaDownload:hover{
    background: linear-gradient(45deg, #6e45e2, #6e45e2, #437eb4, #6e45e2, #437eb4, #5a4399, #437eb4, #6e45e2, #6e45e2);
    background-size: 400%;
    animation: glowing 21s linear infinite;
    transition: opacity .3s ease-in-out;
  }
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }


  .downloadbutton{
    text-decoration: none;
  }

  .credly{
    max-height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 5px 1em;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 20px;
  }
  // .img1,.img2,.img3,.img4{

  // }
  
  // .credly::after {
  //   // content: "";
  //   // clear: both;
  //   // display: table;
  //   display: flex;
  // }

  // img{
  //   width: 60%;
  //   height: 60%;
  // }

  .awsPic{
    width: 100px;
    height: 100px;
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .downloadDiv:hover{

    opacity: 0.5;
  }

  .internship{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  padding: 8px;
  margin: 40px;
  text-align: center;
  border-color: #685894;
  box-shadow: 0 0 11px #685894;
  border-radius: 25px;
  }

.graph{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 8px;
  text-align: center;
  margin-bottom: 26px;
  
}
.codes{
  color: white;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  border-color: #685894;
  box-shadow: 0 0 11px #685894;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
}
}

.zeta2{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #100F0E;
  padding: 8px;
  margin: 12px;
  text-align: center;
  border: none;
  padding: 10px;
}

.zeta2:hover{

  background: linear-gradient(45deg, #6e45e2, #6e45e2, #437eb4, #6e45e2, #437eb4, #5a4399, #437eb4, #6e45e2, #6e45e2);
  background-size: 400%;
  font-size: 51px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowing 21s linear infinite;
  transition: opacity .3s ease-in-out;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


img{
  text-decoration: none;
  padding: 20px;
  width: 410px;
}

img:hover{
  animation: bloom ease-in-out .75s forwards;
  
}
img:hover::before {
  animation: circle .75s;
}
@keyframes bloom {
  0% {
    filter: grayscale(.8);
  }
  40% {
    filter: grayscale(.5);
  }
  100% {
    filter: grayscale(0);
  }
}

@media screen and (max-width: 800px){
  
.row{
    width: 200px;
  }
  img{
    width: 60%;
    height: 60%;
  }
}
