
::-webkit-scrollbar {
  display: none;
}

.container {
  
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ccc;
.zeta
{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(206, 255, 255);
  background: #ee6c4d;
  padding: 8px;
  margin: 40px;
  text-align: center;
  border-color: #ee6c4d;
  box-shadow: 0 0 11px #ee6c4d;
  }

  .credly{
    max-height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 5px 1em;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    cursor: pointer;
    text-align: center;
  }
  .badge1,.badge2,.badge3,.badge4{
    width: 20%;
    height: 30%;
  }

  img{
    width: 50%;
    height: 50%;
  }


  .internship{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(206, 255, 255);
  background: #ee6c4d;
  padding: 8px;
  margin: 40px;
  text-align: center;
  border-color: #ee6c4d;
  box-shadow: 0 0 11px #ee6c4d;
  }

.graph{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  padding: 8px;
  text-align: center;
}
.codes{
  color: white;
  background-color: #ee6c4d;
  border-color: #ee6c4d;
  box-shadow: 0 0 11px #ee6c4d;
  text-align: center;
}
}

img{
  text-decoration: none;
  padding: 20px;
  width: 410px;
}

img:hover{
  animation: bloom ease-in-out .75s forwards;
}
img:hover::before {
  animation: circle .75s;
}
@keyframes bloom {
  0% {
    filter: grayscale(.8);
  }
  40% {
    filter: grayscale(.5);
  }
  100% {
    filter: grayscale(0);
  }
}
