::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

// .nav{
//   font-weight: 700;
//   font-size: 25px;
// }

.zeta {
  margin: 15 0px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #100f0e;
  // position:absolute; left: 342px; top:750px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-items: center;
  margin: 17px 0;
  border-radius: 25px;
}

.explore,
.contact {
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  padding: 8px;
  margin: 40px;
  text-align: center;
  border-color: #685894;
  box-shadow: 0 0 11px #685894;
  border: none;
  border-radius: 25px;
  padding: 10px;
}

.contact:hover {
  border-color: #685894;
  box-shadow: 0 0 11px #685894;
}

//sql texts and others
.zeta2 {
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #100f0e;
  margin: 12px;
  text-align: center;
  border: none;
}

.zeta2:hover {
  background: linear-gradient(45deg, #6e45e2, #6e45e2, #437eb4, #6e45e2, #437eb4, #5a4399, #437eb4, #6e45e2, #6e45e2);
  background-size: 400%;
  font-size: 51px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowing 21s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

// .explore1:hover,.explore2:hover{
//   background: linear-gradient(45deg, #6e45e2, #6e45e2, #437eb4, #6e45e2, #437eb4, #5a4399, #437eb4, #6e45e2, #6e45e2);
//   background-size: 400%;
//   animation: glowing 31s linear infinite;
//   transition: opacity .3s ease-in-out;
// }

.awsPic {
  width: 100px;
  height: 100px;
  float: left;
  padding: 5px;
}

.row {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
}

.contact:hover {
  background: linear-gradient(45deg, #6e45e2, #6e45e2, #437eb4, #6e45e2, #437eb4, #5a4399, #437eb4, #6e45e2, #6e45e2);
  background-size: 400%;
  animation: glowing 21s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media screen and (max-width: 800px) {
  .row {
    width: 100%;
  }
  .explore,
  .contact,
  .zeta {
    font-size: 21px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 700px) and (orientation: portrait) {
  .row2 {
    width: 210px;
  }
}
