::-webkit-scrollbar {display: none;}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;

}

// .nav{
//   font-weight: 700;
//   font-size: 25px;
// }
  
.zeta{
  margin: 15 0px;
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #100F0E;
  // position:absolute; left: 342px; top:750px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-items: center;
  margin: 17px 0;
  border-radius: 25px;
  
}

// .socials{
//   max-height: 100px;
//   margin: 10px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   flex-flow: wrap;
//   cursor: pointer;
//   text-align: center; 
// }

// .zetaimg{
//   width: 270px;
//   border-color: #6e45e2;
//   box-shadow: 0 0 11px #ff3300;
//   margin-bottom: 40px;
// }
// .zetaimg:hover{
//   animation: shake 1.1s;
//   animation-iteration-count: infinite;
// }

.explore,.contact {
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: white;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
  padding: 8px;
  margin: 40px;
  text-align: center;
  border-color: #685894;
  box-shadow: 0 0 11px #685894;
  border: none;
  border-radius: 25px;
  padding: 10px;
}


.contact:hover{
  border-color: #685894;
  box-shadow: 0 0 11px #685894;
}

// @keyframes shake {
//   0% { transform: translate(1px, 1px) rotate(0deg); }
//   10% { transform: translate(-1px, -2px) rotate(-1deg); }
//   20% { transform: translate(-3px, 0px) rotate(1deg); }
//   30% { transform: translate(3px, 2px) rotate(0deg); }
//   40% { transform: translate(1px, -1px) rotate(1deg); }
//   50% { transform: translate(-1px, 2px) rotate(-1deg); }
//   60% { transform: translate(-3px, 1px) rotate(0deg); }
//   70% { transform: translate(3px, 1px) rotate(-1deg); }
//   80% { transform: translate(-1px, -1px) rotate(1deg); }
//   90% { transform: translate(1px, 2px) rotate(0deg); }
//   100% { transform: translate(1px, -2px) rotate(-1deg); }
// }


// .explore1,.explore2{
//   font-family: Trebuchet MS, sans-serif;
//   font-weight: 700;
//   font-size: 17px;
//   color: white;
//   background-image: linear-gradient(-20deg, #6e45e2 0%, #4d6d6b 100%);
//   padding: 8px;
//   margin: 40px;
//   text-align: center;
//   border-color: #685894;
//   box-shadow: 0 0 11px #685894;
//   border: none;
//   border-radius: 25px;
//   padding: 10px;
// }

//sql texts and others 
.zeta2{
  font-family: Trebuchet MS, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #100F0E;
  margin: 12px;
  text-align: center;
  border: none;
}

.zeta2:hover{
  background: linear-gradient(45deg, #6e45e2, #6e45e2, #437eb4, #6e45e2, #437eb4, #5a4399, #437eb4, #6e45e2, #6e45e2);
  background-size: 400%;
  font-size: 51px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowing 21s linear infinite;
  transition: opacity .3s ease-in-out;
}


// .explore1:hover,.explore2:hover{
//   background: linear-gradient(45deg, #6e45e2, #6e45e2, #437eb4, #6e45e2, #437eb4, #5a4399, #437eb4, #6e45e2, #6e45e2);
//   background-size: 400%;
//   animation: glowing 31s linear infinite;
//   transition: opacity .3s ease-in-out;
// }

.awsPic{
  width: 100px;
  height: 100px;
  float: left;
  padding: 5px;
}

.row {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
 
}

.row2::after {
  content: "";
  clear: both;
  display: table;
 
}

.contact:hover{

  background: linear-gradient(45deg, #6e45e2, #6e45e2, #437eb4, #6e45e2, #437eb4, #5a4399, #437eb4, #6e45e2, #6e45e2);
  background-size: 400%;
  animation: glowing 21s linear infinite;
  transition: opacity .3s ease-in-out;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@media screen and (max-width: 800px){

  .row{
    width: 200px;
  }
  .explore,.contact,.zeta {
    font-size: 21px;

  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 700px) 
and (orientation : portrait) {
  .row2
  {width: 210px;}
}
