::-webkit-scrollbar {
  display: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ccc;
 }

.zeta {
    font-family: Trebuchet MS, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(206, 255, 255);
    background: #ee6c4d;
    padding: 8px;
    margin: 80px;
    text-align: center;
    border-color: #ee6c4d;
    box-shadow: 0 0 11px #ee6c4d;
    
  }

.GitRepos{
    max-height: 100px;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 155em;
    justify-content: space-around;
    flex-flow: wrap;
    cursor: pointer;
    margin-bottom: 135px;
  }  

  .unityGamesT1{
    text-decoration: none;
  }

  .container a{
    text-decoration: none;
  }

  @media screen and (max-width: 900px){
    .zeta{
      font-size: 22px;
    }
    .repo1, .repo2, .repo3{
      width: 380px;
    }
  }
