.nav{
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a82e0c;
    background-image: linear-gradient(315deg, #b84323 0%, #ee6c4d 74%);
    position: fixed;

  }

  .texts{
    color: white;
  }

  .ico1{
    align-items: flex-start;
  }