.nav{
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #617ca0 100%);
    position: fixed;
    z-index: 2000;
    filter: drop-shadow(0 0 0.25rem rgb(63, 62, 63));
  }

  .texts{
    color: white;
  }

  .ico1{
    align-items: flex-start;
  }

  