.nav{
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
    position: fixed;
    z-index: 2000;
  
  }

  .texts{
    color: white;
  }

  .ico1{
    align-items: flex-start;
  }