.container{
    background-image: url("../video/banner.gif");
    width: 100%;
    min-width: 100vw;
    min-height: 500px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat repeat;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textcss{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #D41141;
    position:absolute; left: 327px; top:290px;
    text-align: center;
    
}
.textcss2{
    font-family: Trebuchet MS, sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #e4e4e4;
    position:absolute; left: 329px; top:360px;

}